# Enable GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/javascript text/css application/x-javascript application/javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</ifmodule>

# 1 Month
<FilesMatch "\.(svg|jpg|png|gif|mp3|m4a)$">
Header set Cache-Control "max-age=2592000"
Header set Vary "Accept-Encoding"
</FilesMatch>

# 5 Days
<FilesMatch "\.(js|css|log)$">
Header set Cache-Control "max-age=0"
Header set Vary "Accept-Encoding"
</FilesMatch>

# NEVER CACHE - notice the extra directives
<FilesMatch "\.(html|htm|php)$">
Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
</FilesMatch>